.logo {
    height: 48px;
}
.hero {
    z-index: 450;
}
.body {
    background-color: #E5E5E5;
}
.phone {
    color: #2e353d;
    text-decoration: none;
    font-size: 1.6rem;
}
.phone:hover {
    color: #2e353d;
    text-decoration: underline;
}

.main_img {
    box-shadow: 0 10px 20px rgba(103, 103, 103, 0.5);
    border-radius: 10px;
    width: 100%;
}
.main_navbar {
    margin-bottom: 98px;
}
/* ========================== MODAL
================================ */
.close_modal {
    color: white;
}
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 999;
}

.modal_dialog {
	max-width: 780px;
	min-width: o260px;
    width: 95%;
    background: #ffffff;
    border-radius: 5px;
    margin: auto;
	padding: 20px 10px 0 10px
}

.modal_dialog {
    width: auto;
    position: relative;
}

.is_open {
    display: flex;
}
.no_open {
    display: none;
}
.close_modal {
    font-size: 36px;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 10px;
	right: 20px;
	z-index: 1001;
}
#left_block, .drawing_block {
    min-height: 160px;
    z-index: 501;
}
.drawing_block {
    padding: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.logo {
    display: flex;
    align-items: flex-end;
}
.logo_liter, .logo_text {
    display: block;
}
.logo_text {
    vertical-align:bottom;
}
.logo_liter {
    width: 3rem;
}
.title {
    margin-bottom: 0;
}

@media (max-width: 480px) {
    .logo_text {
        display: none;
    }
    .title {
        margin-bottom: 2rem;
    }
    #price_pool_button {
        width: 100%;
    }
    .h1 {
        font-size: 1.7rem;
    }
}

.center_wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 400;
    display: flex;
    padding: auto;
}
.center_block {
    margin: auto;
    top: -5%;
    z-index: 401;
    position: relative;
}
svg {
    margin: auto !important;
}
.range_label {
    min-width: 9rem;
}
.alert_action {
    color: #ffffff;
    background-color: #ba5816;
    border-color: transparent;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}
.modal_dialog p {
    padding: 0 10px 0 10px; 
}